# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/
Lib/
Scripts/
pyvenv.cfg

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# Migrations cache only
**/migrations/__pycache__/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite / React
dist/
.vite/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


# Cache & temp
.cache/
*.tmp
*.swp

